<div class="form-group lpSelect">
    <label *ngIf="label">{{label}}</label>

    <div class="input-group input-group-sm">
        <div class="input-group-addon">
            <i class="{{iconClass}}"></i>
        </div>

        <div class="tokenfield form-control pointer" (click)="openOptions();">

            <div 
                *ngFor="let item of manager.multiSelectData; let i = index"
                class="token">
                <span class="token-label">{{item.text}}
                     <a class="close" (click)="manager.removeItem(i); onSelectionChange();">x</a>
                </span>
            </div>

            <input type="text" class="token-input selectInputElement" 
                [placeholder]="placeholder" 
                (focus)='this.scrollToIndex(this.highlightIndex); openOptions();' 
                [value]='manager.currentSelection.text || ""' 
                (value)='manager.currentSelection.text || ""'
                
                [formControl]='lpSelect' [disabled]="disabled" 

                (blur)="clearSearch(); onSelectionChange();"
                (keydown)="keySwitch($event)"
            />
            
            
        </div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-icon">
                <i class="glyphicon glyphicon-remove" (click)="manager.resetSelection()"></i>
                <i class="glyphicon glyphicon-chevron-down" (click)="openOptions()"></i>
            </button>
        </div>
    </div>

    <div 
        class="lpSelect-overlay"
        *ngIf="showResults"  
        (click)="onOverlayClicked(); onSelectionChange(); closeOptions()">
    </div>

    <div #dropdown 
        *ngIf='showResults' 
        class='list-group lpSelect-options' 
        [ngStyle]="{'height.px': dropdownHeightPixel }" 
        infinite-scroll (scrolled)="manager.onScroll()" 
        [scrollWindow]="false" 
        (scroll)="userScrolled = true">
        <div *ngIf='manager.showSpinner' 
            class='loader-container'>
            <div class="circle"></div>
        </div>
        <a lp-select-item 
            [option]='option' 
            [formatter]="itemFormat" 
            [ngStyle]="{'height.px': itemHeight }" 
            (click)='manager.selectOption(option); highlightIndex = i; onSelected.emit({value: option}); onSelectionChange(); closeOptions()' 
            *ngFor='let option of manager.data; let i = index' 
            class='list-group-item option' 
            [ngClass]="{'active': i === highlightIndex}">
        </a>
    </div>
    
</div>