.selectTag {
    margin-right: 4px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.lpSelect {
    position: relative;
}

.lpSelect .inputContainer{
    width: 100%;
}

.lpSelect input{
    max-width: 90% !important;
    min-width: 100px !important;
    border: none;
}

.lpSelect .lpSelect-overlay{
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 900;
}

.lpSelect .lpSelect-options{
    background: white; 
    overflow-y: scroll;
    margin: 0; 
    padding: 0; 
    border-radius: 0;
    position: absolute;
    width: 100%; 
    z-index: 1000;
}

.lpSelect .lpSelect-options .option{
    margin: 0;
}

.lpSelect .lpSelect-loader{
    background: white; 
    padding-left: 45%;
    padding-top: 2%;
    margin: 0;
}





.lpSelect .circle {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid rgba(94, 43, 13, 0.11);
  border-top-color: #e18f41;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.lpSelect .loader-container{
    padding-left: 45%;
    padding-top: 8%;
}

/*.token{
    margin: 2px 0 0 2px;
    cursor: default;
    float: left;
    position: relative;
    border-radius: 2px;
}

.token:not([class*=bg-]){
    background-color: #eee;
    color: #333;
}

.token .token-label{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 11px;
    padding-right: 30px;
    font-size: 12px;
    line-height: 1.6666667;
}

.token>.close{
    font-size: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: inherit;
    right: 11px;
    line-height: 1;
    margin-top: -5.5px;
}


.tokenfield .token-input-wide-aerial {
  direction: ltr;
  background: none;
  width: 90%!important;
  max-width: 50%;
  min-width: 60px;

  margin-left:8px;
  margin-top: 5px;

  font-size: 12px;
  line-height: 1.6666667;
  border: 0;
  outline: 0;
}
*/
