.Scrollable
{
    max-height: 300px;
    overflow-y:scroll;
}


    .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
  display:block;
}
.ng-pristine:not(form)  {
  border-left: 5px solid#000055; /* red */
display:block
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94455; /* red */
display:block
}

