<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <lp-select name="my-select" [staticList]="list" [multiSelect]="true"></lp-select>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>